<div class="container">
      <section id="explanation" class="width-two-thirds">

          <h3>About this Site</h3>
          <p>
            This data provides a window into how people are interacting with Cook County government online. The data comes from Google Analytics accounts that track traffic to Cook County sites. 
          </p>

          <p>
            Not every County government website is represented in this data. Currently, for this Alpha release, we are including the main County web site at cookcountyil.gov, as well as our Open Data Catalog site at data.cookcountyil.gov. We will continue to pursue and add more County sites to this program over time. If you would like your County agency site data included, contact our <a href="mailto:open.data@cookcountyil.gov?subject=analytics.cookcountyil.gov Agency Feedback">Open Data program</a>.
          </p>

          <p>
            This dashboard uses code developed by the <a href="https://www.digitalgov.gov/services/dap/">Digital Analytics Program</a>, a US government team inside the <a href="http://www.gsa.gov/">General Services Administration</a>, an independent federal agency. It was built largely by <a href="https://18f.gsa.gov/">18F</a>, another GSA team.  This open source project is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/CookCountyGov/analytics">code for this website</a> and the <a href="https://github.com/CookCountyGov/analytics-reporter">code behind the data collection</a> on GitHub.
          </p>

          <p>
            We plan to expand the data made available here. If you have any suggestions, or spot any issues or bugs, please <a href="https://github.com/CookCountyGov/analytics/issues">open an issue on GitHub</a> or contact our <a href="mailto:open.data@cookcountyil.gov?subject=analytics.cookcountyil.gov Feedback">Open Data program</a>.
          </p>
          <p>* Realtime "right now" data is updated every three minutes.</p>
          
          
          
          
          
 

 


      </section>
      <section class="width-one-third">
        <h3>Download the data</h3>
        <p>You can <a href="{{ site.url }}{% if page.slug %}/{{ page.slug }}{% endif %}/data/">download the data here.</a> Available in JSON and CSV format.</p>
      </section>
</div>
